/* --- John McCutchan --- */
/* --- 
*****Individual Assignment

You will be building the basic structure of your Music History 
application in HTML and making it look good with the skills you 
learned in CSS.

Visit the Music History mockup that I created. You will be recreating 
that document in your own HTML file.

*****Criteria

Create five options for the artist select element of any artist 
that you enjoy.

Create at least five options for the album select element. One, or more, 
album for each artist.

The links in the navigation bar don't need to link to anything just yet, 
you can use <a href="#">View music</a> for now.

Pick your four favorite songs from the artists you have chosen and use 
the information for each in the list that's on the right-hand side. You 
can use h1 tags, div tags, section tags... whatever you like.

******Completing

Once you are done, make sure you add your files to git, make a commit, 
and then push your new code up to Github with the following command git 
push origin master.
--- */

html{
}
body{
	background-color: #fff;
	width: 100%;
	box-sizing: content-box;
	margin: 0;
	padding: 0;
	background-color: rgba(44, 62, 80,1.0);
	font-family: Verdana, Geneva, sans-serif;
}
.container{}
.musicplayer{
	margin: 10px;
}
#top{
	background-color: #ffb4b0;
	width: 100%;
	height: 70px;
	border: 2px solid #000;
	margin-top: 2%;
}
#left{
	background-color: #4dd7fa;
	width:100%;
	height: 300px;
	border: 2px solid #000;
	margin-top: 15px;
}
#right{
	background-color: #fefac0;
	width:100%;
	height: 300px;
	border: 2px solid #000;
	margin-top: 15px;
}
nav ul li a {}

.cf:after {
  content: "";
  display: table;
  clear: both;
}



/* --- Breakpoints --- */

@media (min-width: 800px) {
	.container{
		width: 800px;
		margin: 0 auto;
	}
	.musicplayer{
		margin: 0;
	}
	#top{
		width: 99.5%;
	}
	#left{
		background-color: #4dd7fa;
		width:23%;
		float:left;
		height: 300px;
		margin-top: 2%;
	}
	#right{
		background-color: #fefac0;
		width:73.99%;
		float:left;
		height: 300px;
		margin-top: 2%;
		margin-left: 2%;
	}
}






















